<h1>Unassigned chores</h1>
<ul class="sticky">

    <% data.forEach(function(chore) { %>
        <% if(chore.user_id != null)  { %>
            <li>
                <a href="#">
                    <h2>
                        <%= chore.chore_name %>
                    </h2>
                    <p>
                        <%= chore.description %>
                    </p>
                    <p>
                        XP:
                        <%= chore.xp_reward %>
                    </p>

                </a>
            </li>
            <% } %>
                <% }); %>
                    <li>
                        <a href="#">
                            <h2>Under Construction</h2>
                            <h2>Assign a Chore from Library</h2>
                            <label for="chores">Choose a chore</label>
                            <select name="chores"></select><br>
                            <label for="reward">Choose a Reward</label>
                            <select name="reward"></select><br>
                            <label for="user">Choose a User</label>
                            <select name="user"></select><br>


                        </a>
                    </li>
</ul>