<h1>My chores</h1>
<ul class="sticky">
    <% data.forEach(function(chore) { %>
        <% if(chore.user_id == userID)  { %>
        <li>
            <a href="#">
                <h2>
                    <%= chore.chore_name %>
                </h2>
                <p>
                    <%= chore.description %>
                </p>
                <p>
                    XP: <%= chore.xp_reward %>
                </p>
            </a>
        </li>
        <% } %>
    <% }); %>
</ul>
