<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stickyNotes.css">
    <title>Chore Board</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="library.js"></script>
</head>

<body onload="populatePage()">
    <div class="jumbotron" id="top">
        <h1>Reward and Chore Library</h1>
    </div>
    <h1>Page under construction. "Update" buttons not functional.</h1>
    <form action="" method="POST">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/getChores">Main Chore Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/getChoreLibrary">Chore and Reward Library</a>
            </li>
        </ul>
    </form>
    <h1>Rewards</h1>
    <div id="rewardsContainer">
    </div>
    <h1>Chores</h1>
    <div id="choresContainer">
    </div>
</body>

</html>